<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/headerAdmin') %>

            <main class="container">
                <div class="row">
                    <!-- empieza el formulario -->
                    <div class="col-12 col-md-8 mx-auto mt-5">
                        <div class="card shadow">
                            <div class="card-header">
                                <h4 class="card-title"> Administrador de Productos </h4>
                            </div>
                            <div class="card-body">
                                <% products.forEach( producto=> { %>
                                    <tr>
                                        <td>
                                            <%= producto.name %>
                                        </td>
                                        <td>
                                            <%= producto.category %>
                                        </td>
                                        <td>
                                            $<%= producto.price %>
                                        </td>
                                        <td>
                                                <form clas="" action="/products/<%= producto.id %>?_method=DELETE"
                                                    method="POST">
                                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                                </form>
                                                <a href="/products/edit/<%= producto.id %>">
                                                    <button type="submit" class="btn btn-primary ">Editar</button>
                                                </a>
                                        </td>
                                    </tr>
                                <% }) %>
                            </div>

                        </div>
                    </div>
                </div>
            </main>


            <%- include('partials/footer') %>
    </body>

</html>