<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: "Inicio" }) %>

    <body class="home">
        <%- include('partials/header') %>
            <main class="home__main">
                <div class="container products-wrapper">
                    <div class="row d-inline-flex p-2">
                        <div class="col-12">
                            <h2 class="products-title">Productos destacados</h2>
                        </div>
                        <% products.forEach(product=> { %>
                            <div class="col-12 col-lg-3 col-md-4 col-sm-6">
                                <%- include('partials/productCard', { ...product}) %>
                            </div>
                            <% }) %>
                    </div>
                </div>
                <a class="home__main--whatsapp" href=""><img width="50px" src="/img/volver_arriba_flecha.png"alt=""></a>
            </main>
            <%- include('partials/footer') %>
                <%- include('partials/scripts') %>
    </body>

</html>