<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

  <body class="index">
    <%- include('partials/header') %>

      <main class="index__main">


        <h1>Seccion ofertas</h1>
        <section class="index__main__section">
          <% products.forEach(product=> { %>
            <article class="index__main__section--ofert">
              <a href="/products/<%= product.id %>" >
                <img src="/img/<%= product.image %>" alt="imagen del producto" />
                <div class="index__section__article--description">
                  <p class="name">
                    <%= product.name %>
                  </p>
                  <p class="descripcion">
                    <%= product.description %>
                  </p>
                  <p class="precio">
                    $<%= product.price %>
                  </p>
                </div>
              </a>
            </article>
            <% }) %>
        </section>

        <h1>Seccion mas vendidos</h1>
        <section class="index__main__section">
          <% products.forEach(product=> { %>
            <article class="index__main__section--ofert">
              <a href="/products/<%= product.id %>" >
              <img src="/img/<%= product.image %>" alt="imagen del producto" />
              <div class="index__section__article--description">
                <p class="name">
                  <%= product.name %>
                </p>
                <p class="descripcion">
                  <%= product.description %>
                </p>
                <p class="precio">
                  $<%= product.price %>
                </p>
              </div>
              </a>
            </article>
            <% }) %>
        </section>

      </main>
      <%- include('partials/footer') %>
  </body>

</html>