<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <%- include('partials/header') %>

    <main class="register__main container container">
      <form
        action="/users/profile?_method=PUT"
        method="POST"
        class="container row"
      >
        <div class="col-12 col-md-4 mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            placeholder="Ingrese su nombre"
            name="nombre"
            value="<%= nombre  %>"
          />
        </div>
        <div class="col-12 col-md-4 mb-3">
          <label for="apellido" class="form-label">Apellido</label>
          <input
            type="text"
            class="form-control"
            id="apellido"
            placeholder="Ingrese su apellido"
            name="apellido"
            value="<%= apellido %>"
          />
        </div>
        <div class="col-12 col-md-4 mb-3">
          <label for="domicilio" class="form-label">Domicilio</label>
          <input
            type="text"
            class="form-control"
            id="domicilio"
            placeholder="Domicilio"
            name="domicilio"
            value="<%= domicilio  %>"
          />
        </div>
        <div class="col-12 col-md-4 mb-3">
          <label for="ciudad" class="form-label">Ciudad</label>
          <input
            type="text"
            class="form-control"
            id="ciudad"
            placeholder="Ciudad"
            name="ciudad"
            value="<%= ciudad  %>"
          />
        </div>
        <div class="col-12 col-md-4 mb-3">
          <label for="provincia" class="form-label">Provincia</label>
          <input
            type="text"
            class="form-control"
            id="provincia"
            placeholder="Provincia"
            name="provincia"
            value="<%= provincia  %>"
          />
        </div>
        <div class="col-12 col-md-4 mb-3">
          <label for="pais" class="form-label">País</label>
          <input
            type="text"
            class="form-control"
            id="pais"
            placeholder="País"
            name="pais"
            value="<%= pais  %>"
          />
        </div>
        <div class="col-12 col-md-4 mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Ingrese su email"
            name="email"
            value="<%= email  %>"
          />
        </div>
        <div class="row">
          <div class="col-12 col-md-4 mb-3">
            <button type="submit" class="btn btn-dark">Aceptar cambios</button>
          </div>
          <div class="col-12 col-md-4 mb-3">
            <button type="reset" class="btn btn-dark">Cancelar cambios</button>
          </div>
        </div>
      </form>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
