<!DOCTYPE html>
<html lang="es">
<%- include('partials/head', {title: name}) %>

	<body>
		<%- include('partials/header') %>
			<main id="home_main" class="home_main">
				<div class="container products-wrapper">
					<div class="product-detail">
						<div class="row">
							<div class="col-12">
								<h2 class="products-title">Detalle del producto: <%= name %>
								</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-lg-8">
								<% if(imagenes.length>0){%>
									<div class="productDetail_multiple_image">
										<img id="main-image" src="/img/products/<%= imagenes[0] || 'default-image.png' %>" class="img-fluid  animate__animated animate__flipInX" alt="...">
										<nav aria-label="Page navigation example">
											<ul class="pagination">
											  <li class="page-item">
												<a class="page-link" href="#" aria-label="Previous">
												  <span aria-hidden="true">&laquo;</span>
												</a>
											  </li>
									<% imagenes.forEach((image,id) => {%>
										<li class="page-item">
											<div class="page-link animate__animated animate__fadeIn animate__delay-<%= id%>s"
											onclick="document.getElementById('main-image').setAttribute('src','/img/products/<%=image%>')">
												<%= id+1 %>
											</div>
										</li>
									<%}); %> 
									  <li class="page-item">
												<a class="page-link" href="#" aria-label="Next">
												  <span aria-hidden="true">&raquo;</span>
												</a>
											  </li>
											</ul>
										</nav>	
									</div>
								<%}else{%>
								<img src="/img/products/<%= imagenes[0] || 'default-image.png' %>" alt="product image"
									class="product-detail-img">
								<%}%>
								<p class="product-detail-description">
									<%= description %>
								</p>
							</div>
							<div class="col-12 col-lg-4">
								<article class="product-detail-info">
									<h2 class="product-detail-title">
										<%= name %>
									</h2>
									<% if (discount) { %>
										<p class="product-detail-price small">
											<span>$<%= price %></span>
											<b>
												<%= discount %>% OFF
											</b>
										</p>
										<p class="product-detail-price">
											$<%=Math.floor((price - (price * discount / 100))) %>
										</p>
										<% }else{ %>
											<p class="product-detail-price">
												$<%=Math.floor(price)%>
											</p>
											<% } %>
											<ul class="actions-list">
												<li>
													<i class="fas fa-credit-card"></i>
													<p>Pagá en 12 cuotas sin interes</p>
												</li>
												<li>
													<i class="fas fa-store"></i>
													<p>Retiro gratis en locales del vendedor</p>
												</li>
											</ul>
											<form action="/products/addToCart/<%= id %>" method="POST" class="row">
												<button type="submit" class="btn btn-success">Agregar al carrito <i class="fa-solid fa-basket-shopping"></i></button>
											</form>
								</article>
							</div>
						</div>
					</div>
				</div>
			</main>
			<%- include('partials/footer') %>
				<%- include('partials/scripts') %>
	</body>

</html>