<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: "Carrito" }) %>

  <body class="home">
    <%- include('partials/header') %>
      <main class="container">
        <div class="row">
          <div class="col-12 col-lg-10 mx-auto mt-5">
            <div class="card shadow">
              <div class="card-header">
                <a class="btn btn btn-secondary" href="">Calcular Total <i class="fa-solid fa-cash-register"></i></a>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">SubTotal</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% carrito.forEach(product=> { %>
                      <tr>
                        <td class="productCart_imagebox" scope="row"><img src="/img/products/<%= product.image || 'default-image.png' %>" alt="imagen de producto"></td>
                        <td><%=product.name%></td>
                        <td><%=product.price%></td>
                        <td>1</td>
                        <td><%=product.price%></td>
                        <td>
                          <div class="productCart_box">
                            <div class="productCart_button_info"><a href="/products/detail/<%= product.id %>"><i class="fa-solid fa-circle-info"></i></a></div>
                            <form action="/products/removeToCart/<%= product.id %>" method="POST">
                              <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                            </form>
                          </div>
                        </td>
                      </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <%- include('partials/footer') %>
      <%- include('partials/scripts') %>
  </body>

</html>