<!DOCTYPE html>
<html lang="es">
<%- include('partials/head', {title: product.name}) %>

	<body>
		<%- include('partials/header') %>
			<main id="home_main" class="home_main">
				<div class="container products-wrapper">
					<div class="product-detail">
						<div class="row">
							<div class="col-12">
								<h2 class="products-title">Detalle del producto: <%= product.name %>
								</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-lg-8">
								<% if(product.product_image.length>1){%>
									<div class="productDetail_multiple_image">
										<img id="main-image" src="/img/products/<%= product.product_image[0].file || 'default-image.png' %>" class="img-fluid  animate__animated animate__flipInX" alt="...">
										<nav aria-label="Page navigation example">
											<ul class="pagination">
											  <li class="page-item">
												<div class="page-link animate__animated animate__fadeIn animate__delay-<%= product.id%>s"
													onclick="document.getElementById('main-image').setAttribute('src','/img/products/<%=product.product_image[0].file%>')">
												  <span aria-hidden="true">&laquo;</span>
												</div>
											  </li>
									<% product.product_image.forEach((image,id) => {%>
										<li class="page-item">
											<div class="page-link animate__animated animate__fadeIn animate__delay-<%= id%>s"
											onclick="document.getElementById('main-image').setAttribute('src','/img/products/<%=product.product_image[id].file%>')">
												<%= id+1 %>
											</div>
										</li>
									<%}); %> 
									  <li class="page-item">
										<div class="page-link animate__animated animate__fadeIn animate__delay-<%= product.id%>s"
											onclick="document.getElementById('main-image').setAttribute('src','/img/products/<%=product.product_image[product.product_image.length-1].file%>')">
												  <span aria-hidden="true">&raquo;</span>
												</div>
											  </li>
											</ul>
										</nav>	
									</div>
								<%}else{%>
								<img src="/img/products/<%= product.product_image[0].file || 'default-image.png' %>" alt="product image"
									class="product-detail-img">
								<%}%>
								<p class="product-detail-description">
									<%= product.description %>
								</p>
							</div>
							<div class="col-12 col-lg-4">
								<article class="product-detail-info">
									<h2 class="product-detail-title">
										<%= product.name %>
									</h2>
									<% if (product.discount) { %>
										<p class="product-detail-price small">
											<span>$<%= addPuntos(Math.floor(product.price)) %></span>
											<b>
												<%= product.discount %>% OFF
											</b>
										</p>
										<p class="product-detail-price">
											$<%=addPuntos(Math.floor((product.price - (product.price * product.discount / 100)))) %>
										</p>
										<% }else{ %>
											<p class="product-detail-price">
												$<%=addPuntos(Math.floor(product.price))%>
											</p>
											<% } %>
											<ul class="actions-list">
												<li>
													<i class="fas fa-credit-card"></i>
													<p>Pagá en 12 cuotas sin interés</p>
												</li>
												<li>
													<i class="fas fa-store"></i>
													<p>Retiro gratis en locales del vendedor</p>
												</li>
											</ul>
											<form action="/products/addToCart/<%= product.id %>" method="POST" class="row">
												<input style="display: none" type="text" name="var1" value="<%= locals.userLogin.shoppingcartId %>">
												<button type="submit" class="btn btn-success">Agregar al carrito <i class="fa-solid fa-basket-shopping"></i></button>
											</form>
								</article>
							</div>
						</div>
					</div>
				</div>
			</main>
			<%- include('partials/footer') %>
				<%- include('partials/scripts') %>
	</body>

</html>