<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: "Carrito" }) %>

  <body class="home">
    <%- include('partials/header') %>
      <main id="home_main" class="container">
        <div class="row">
          <div class="col-12 col-lg-10 mx-auto mt-5">
            <div class="card shadow">
              <div class="card-header text-end">
                <!-- Button trigger modal -->
              <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#CarritoCompras">
                Calcular Total <i class="fa-solid fa-cash-register"></i>
              </button>
              <!-- Modal -->
              <div class="modal fade" id="CarritoCompras" tabindex="-1" aria-labelledby="CarritoComprasLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="CarritoComprasLabel"> SU TOTAL ES: $<%= total %></h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <% carrito.forEach(product=> { %>
                        <div class="productCart_modal">
                          <div>
                            <%= product.name %>
                          </div>
                          <div>
                            $<%= product.price %>
                          </div>
                        </div>
                      <% }) %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                      <button type="button" class="btn btn-success">Realizar Compra <i class="fa-solid fa-truck-fast"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Imagen</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">SubTotal</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% carrito.forEach(product=> { %>
                      <tr>
                        <td class="productCart_imagebox" scope="row"><img src="/img/products/<%= product.image || 'default-image.png' %>" alt="imagen de producto"></td>
                        <td><%=product.name%></td>
                        <td><%=product.price%></td>
                        <td>1</td>
                        <td><%=product.price%></td>
                        <td>
                          <div class="productCart_box">
                            <div class="productCart_button_info"><a href="/products/detail/<%= product.id %>"><i class="fa-solid fa-circle-info"></i></a></div>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#removeProduct<%= product.id %>">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                            <div class="modal fade" id="removeProduct<%= product.id %>" tabindex="-1" aria-labelledby="removeProduct<%= product.id %>Label"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-name fs-5" id="removeProduct<%= product.id %>Label">ADVERTENCIA</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>¿Estás seguro que quieres eliminar el producto: <b><%= product.name %></b> de tu carrito de compras?</p> 
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cancelar</button>
                                                <form action="/products/removeToCart/<%= product.id %>" method="POST">
                                                  <button type="submit" class="btn btn-danger">Sí, Eliminar <i class="fa-solid fa-trash-can"></i></button>
                                              </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <%- include('partials/footer') %>
      <%- include('partials/scripts') %>
  </body>

</html>