<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body class="product_detail_body">
    <%- include('partials/header') %>
    <main class="productDetail_main">
        <div class="product">
            <div class="test1">
                <div class="product_name_model">
                    <h1><%= detail.name %> </h1>
                    <h2>Modelo</h2>
                </div>
                <div class="product_carrousel_box">
                    <div class="product_carrousel_img">
                        <img src="/img/<%= detail.image %>">
                    </div>
                </div>
                <div class="product_precio_buttons_box">
                    <div class="product_precio">
                        <h1>$<%= detail.price %></h1>
                    </div>
                    <div class="product_buttons">
                        <a href="#"><i class="fa-solid fa-cart-shopping"></i><input type="button" value="Añadir al carrito"></a>
                    </div>
                </div>
            </div>
            <div class="box_flex">
                <div class="box1">
                    <div class="product_description">
                        <p>
                            <%= detail.description %>
                        </p>
                    </div>
                    <div class="product_simil">
                        <h2>Productos similares</h2>
                        <div class="product_simil_box">
                            <div>
                                <img src="/img/productDetail_img/img_relation_1.jpg">
                            </div>
                            <div>
                                <img src="/img/productDetail_img/img_relation_2.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Datos del vendedor -->
                <div class="vendedor_info">
                    <div>
                        <a href="#">
                            <i class="fa-solid fa-truck"></i>
                            <p>Información de envios</p>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <i class="fa-solid fa-credit-card"></i>
                            <p>Metodos de pago</p>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <i class="fa-solid fa-location-dot"></i>
                            <p>Encontranos en avenida el libertador 900</p>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </main>

    <%- include('partials/footer') %>
</body>


</html>