<!DOCTYPE html>
<html lang="en">
<%- include('partials/head',{title: "Añadir Producto"}) %>

  <body class="productAdd">
    <%- include('partials/header') %>

      <main id="home_main" class="container">
        <div class="row">
          <div class="col-12 col-md-8 mx-auto mt-5">
            <div id="form_addProduct_box" class="card shadow">
              <div class="card-header">
                <b class="card-name">Agregar producto</b>
                <small id="form_addProduct_asteriscos">
                  Los campos con un * son obligatorios
                </small>
              </div>
              <div class="card-body">
                <form action="" method="POST" class="row" enctype="multipart/form-data">
                  <div class="col-12 col-md-6 sm-12">
                    <label for="name" class="form-label">Nombre</label>
                    <small id="form_product_asterisco_name">*</small>
                    <input type="text" class="form-control"
                      id="name" name="name"
                      value="<%= locals.old && (old.name && old.name ) %>" />
                    <small hidden id="product_form_name" class="text-danger ms-2">
                      * El nombre es obligatorio
                    </small>
                    <small id="name_error" class="text-danger ms-2">
                      <%= locals.errors && (errors.name && errors.name.msg) %>
                    </small>
                  </div>

                  <div class="col-12 col-md-6 sm-12">
                    <label for="category" class="form-label">Categoría</label>
                    <small id="form_product_asterisco_category">*</small>
                    <select class="form-select"
                      aria-label="Default select example" name="category" id="category">
                      <option value="0" selected hidden>Seleccione...</option>
                      <% categories.forEach((category,index)=> { %>
                        <option value="<%= category.id %>" <%=locals.old && (locals.old.category===category.name
                          && 'selected' ) %>>
                          <%= category.name %>
                        </option>
                        <% }) %>
                    </select>
                    <small hidden id="product_form_category" class="text-danger ms-2">
                      * La categoría es obligatoria
                    </small>
                    <small id="category_error" class="text-danger ms-2">
                      <%= locals.errors && (errors.category && errors.category.msg) %>
                    </small>

                  </div>
                  <div class="col-12 col-md-6 sm-12">
                    <label for="price" class="form-label">Precio</label>
                    <small id="form_product_asterisco_price">*</small>
                    <input type="number" class="form-control"
                      id="price" name="price" value="<%= locals.old && (old.price && old.price ) %>" />
                    <small hidden id="product_form_price" class="text-danger ms-2">
                      * El precio es obligatorio
                    </small>
                    <small id="price_error" class="text-danger ms-2">
                      <%= locals.errors && (errors.price && errors.price.msg) %>
                    </small>
                  </div>
                  <div class="col-12 col-md-6 sm-12">
                    <label for="discount" class="form-label">Descuento en %</label>
                    <small id="form_product_asterisco_discount"></small>
                    <input type="number" class="form-control" id="discount" name="discount" />
                    <small hidden id="product_form_discount" class="text-danger ms-2">
                      * 
                    </small>
                  </div>
                  <div class="col-12 col-md-12 sm-12">
                    <label for="description" class="form-label">Descripción</label>
                    <small id="form_product_asterisco_description">*</small>
                    <textarea name="description" id="description"
                      class="form-control"
                      style="resize: none"><%= locals.old && (old.description && old.description ) %></textarea>
                    <small hidden id="product_form_description" class="text-danger ms-2">
                      * La descripción es obligatoria
                    </small>
                    <small id="description_error" class="text-danger ms-2">
                      <%= locals.errors && (errors.description && errors.description.msg) %>
                    </small>
                  </div>
                  <div class="col-12 col-md-6 sm-12">
                    <label for="form_image" class="form-label">Imagenes</label><small id="form_product_asterisco_image">
                      *
                    </small>
                    <input type="file" multiple class="form-control" name="image" accept=".JPG, .JPEG, .PNG, .GIF, .WEBP" id="form_image"/>
                    <small hidden id="product_form_image" class="text-danger ms-2">
                      * Es obligatorio min 1 imagen.
                      <br>
                                &nbsp;&nbsp;* Solo se permiten formatos .jpg .jpeg .png .gif
                    </small>
                    <small id="image_error" class="text-danger ms-2">
                      <%= locals.errors && (errors.image && errors.image.msg) %>
                    </small>
                  </div>
                  <div class="col-12 col-md-12 sm-12 d-flex justify-content-end">
                    <button id="button_product_success" type="submit" class="btn btn-dark">Guardar cambios</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
      <%- include('partials/footer') %>
      <%- include('partials/scripts') %>
      <script src="/js/productValidatorFront.js"></script>
  </body>

</html>