<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: "Carrito" }) %>

  <body class="home">
    <%- include('partials/header') %>
      <main id="home_main" class="container">
        <div class="row">
          <div class="col-12 col-lg-12 col-md-12 col-sm-12 mt-5">
            <div class="card shadow">
              <div class="card-header text-end">
              <button id="button_calcularTotal" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#CarritoCompras">
                Calcular Total <i class="fa-solid fa-cash-register"></i>
              </button>
              <div class="modal fade" id="CarritoCompras" tabindex="-1" aria-labelledby="CarritoComprasLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="CarritoComprasLabel"> SUS PRODUCTOS:</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="card-body">
                        <div class="table-responsive">
                          <table id="productCart_calc_total" class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col">Producto</th>
                                <th scope="col">Cant</th>
                                <th scope="col">Sub. Total</th>
                              <tr>
                            </thead>
                            <tbody>
                              <% carrito.forEach(product=> { %>
                              <tr>
                                <td>
                                  <%= product.product.name %>
                                </td>
                                <td>
                                  <%= product.amount%>
                                </td>
                                <td>
                                  $<%= addPuntos(Math.floor(product.product.price - (product.product.price * product.product.discount / 100))*product.amount)  %>%>
                                </td>
                              </tr>
                              <% }) %>
                            </tbody>
                          </table>
                          <h1 class="modal-title fs-5" id="totalCarritoCompras"> SU TOTAL ES: $<%= addPuntos(Math.floor(total)) %></h1>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                      <button id="product_cart_buttons" type="button" class="btn btn-success" data-bs-dismiss="modal">Realizar Compra <i class="fa-solid fa-truck-fast"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Descuento</th>
                        <th scope="col">Cant.</th>
                        <th scope="col">SubTotal</th>
                        <th scope="col">Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% carrito.forEach((product,index)=> { %>
                      <tr>
                        <td><%=product.product.name%></td>
                        <td>$<%=addPuntos(Math.floor(product.product.price))%></td>
                        <% if(product.product.discount>0){%>
                          <td><b>-<%=product.product.discount%>% OFF</b></td>
                        <% }else{%>
                          <td id="productCart_item_discount"><b>--</b></td>
                        <% }%>
                        <td>
                          <b><%=product.amount%></b>
                        </td>
                        <td>$<%=addPuntos(Math.floor(product.product.price - (product.product.price * product.product.discount / 100))*product.amount)%></td>
                        <td>
                          <div class="productCart_box">
                            <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
                                data-bs-target="#detailProduct<%=product.product.id%>">
                                <i class="fas fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
                                data-bs-target="#removeProduct<%= product.product.id %>">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                            <div class="modal fade" id="detailProduct<%=product.product.id%>" tabindex="-1"
                              aria-labelledby="detailProduct<%=product.product.id%>Label" aria-hidden="true">
                              <div class="modal-dialog modal-lg  modal-dialog-centered">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h5 class="modal-name" id="detailProduct<%=product.product.id%>Label">
                                              <%= product.product.name %>
                                          </h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal"
                                              aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">
                                          <div class="card mb-3">
                                              <div class="row g-0">
                                                  <div class="col-md-6">
                                                      <img src="/img/products/<%= product.product.product_image ? product.product.product_image[0].file : 'default-image.png' %>"
                                                          class="img-fluid" alt="...">
                                                  </div>
                                                  <div class="col-md-6">
                                                      <div class="card-body">
                                                          <h5 class="card-name">
                                                              <div>
                                                                  Precio Original:
                                                              </div>
                                                          </h5>
                                                              <div class="productCard_finalPrice" id="admin_tableProduct_price">
                                                                  Antes $<%= addPuntos(Math.floor(product.product.price)) %>
                                                              </div>
                                                              <div class="d-flex gap-1">
                                                                  <div class="productCard_finalPrice">
                                                                      $<%= addPuntos(Math.floor((product.product.price - (product.product.price * product.product.discount / 100)))) %>
                                                                  </div>
                                                                  <% if (product.product.discount) { %>
                                                                      <div class="productCard_discount">
                                                                          <%= product.product.discount %>% OFF
                                                                      </div>
                                                                  <% } %>
                                                              </div>
                                                              <p class="card-text">
                                                                  Descripción:<br>
                                                                  <%=product.product.description%>
                                                              </p>
                                                              <p  class="card-text">
                                                                Cantidad en el carrito:<br>
                                                                <i id="product_cart_carrito_info" class="fa-solid fa-cart-shopping"></i> <b><%=product.amount%> </b>
                                                            </p>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="modal-footer">
                                          <button id="product_cart_buttons" type="button" class="btn btn-secondary"
                                              data-bs-dismiss="modal">Cerrar</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="modal fade" id="removeProduct<%= product.product.id %>" tabindex="-1" aria-labelledby="removeProduct<%= product.product.id %>Label" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-name fs-5" id="removeProduct<%= product.product.id %>Label">ADVERTENCIA</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"aria-label="Close">
                                    </button>
                                </div>
                                <div class="modal-body">
                                  <p>¿Estás seguro que quieres eliminar el producto: <b><%= product.product.name %></b> de tu carrito de compras?</p> 
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-outline-dark"data-bs-dismiss="modal">
                                    Cancelar
                                  </button>
                                    <form action="/products/removeToCart/<%= product.product.id %>" method="POST">
                                        <button type="submit" class="btn btn-outline-dark">
                                          Sí, Eliminar <i class="fa-solid fa-trash-can"></i>
                                        </button>
                                    </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <%- include('partials/footer') %>
      <%- include('partials/scripts') %>
  </body>

</html>