<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head',{title: `Perfil: ${name}`}) %>


<body class="detalle">
    <%- include('partials/header') %>

    <main class="home_main">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8 col-sm-11 mx-auto mt-5">
                <div class="card mb-3 shadow-lg">
                  <div class="card-header">
                    <b>Perfil de usuario: </b><%=name%> <%= surname %> <small id="form_register_asteriscos">
                        Los campos con un * son obligatorios
                    </small>
                  </div>
                  <div class="card-body">
                    <form action="/users/update/<%= id %>?_method=PUT" method="POST" class="row" enctype="multipart/form-data">
                        <div class="col-12 col-lg-4 col-md-6">
                            <label for="name" class="form-label">Nombre</label>
                            <small id="form_register_asterisco_name">*</small>
                            <input type="text" class="form-control" id="name" placeholder="Tu nombre" name="name" value="<%= name %>">
                            <small hidden id="register_form_name" class="text-danger ms-2">
                                * El nombre es obligatorio
                            </small>
                            <small id="name_error" class="text-danger ms-2">
                                <%= locals.errors && (errors.name && errors.name.msg) %>
                            </small>
                        </div>
                        <div class="col-12 col-lg-4 col-md-6">
                            <label for="surname" class="form-label">Apellido</label>
                            <small id="form_register_asterisco_surname">
                                *
                            </small>
                            <input type="text" class="form-control" id="surname" placeholder="Ingrese su apellido" name="surname" value="<%= surname %>">
                            <small hidden id="register_form_surname" class="text-danger ms-2">
                                * El apellido es obligatorio
                            </small>
                            <small id="surname_error" class="text-danger ms-2">
                                <%= locals.errors && (errors.surname && errors.surname.msg) %>
                            </small>
                        </div>
                        <div class="col-12 col-lg-4 col-md-6">
                            <label for="address" class="form-label">Dirección</label>
                            <input type="text" class="form-control" id="address" placeholder="Ingrese su domicilio" name="address" value="<%= addressId.address%>">
                            <small class="text-danger ms-2">
                                <%= locals.errors && (errors.address && errors.address.msg) %>
                            </small>
                        </div>
                        <div class="col-12 col-lg-4 col-md-6">
                            <label for="city" class="form-label">Ciudad</label>
                            <input type="text" class="form-control" id="city" placeholder="Ingrese su ciudad" name="city" value="<%= addressId.city %>">
                            <small class="text-danger ms-2">
                                <%= locals.errors && (errors.city && errors.city.msg) %>
                            </small>
                        </div>
                        <div class="col-12 col-lg-4 col-md-6">
                            <label for="province" class="form-label">Provincia</label>
                            <input type="text" class="form-control" id="province" placeholder="Ingrese su provincia" name="province" value="<%= addressId.province %>">
                            <small class="text-danger ms-2">
                                <%= locals.errors && (errors.province && errors.province.msg) %>
                            </small>
                        </div>
                        <div class="col-12 col-lg-4 col-md-6">
                            <label for="country" class="form-label">País</label>
                            <input type="text" class="form-control" id="country" placeholder="Ingrese su País" name="country" value="<%= addressId.country %>">
                            <small class="text-danger ms-2">
                                <%= locals.errors && (errors.country && errors.country.msg) %>
                            </small>
                        </div>
                        <div class="col-12 col-lg-4 col-md-6">
                            <label for="foto" class="form-label">Imagen de perfil:</label>
                            <div class="profile_photo_box" id="foto">
                                <img class= "profile_photo" src="/img/users/<%= imageId.file %>">
                            </div>
                        </div>
                        <!-- <div class="col-12 col-lg-4 col-md-3">
                            <label for="image" class="form-label">Subir imagen</label>
                            <input class="form-label" type="file" id="image" name="image">
                        </div> -->
                        <div class="col-12 col-lg-4 col-md-3 align-self-end">
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-dark">Guardar cambios</button>
                            </div>
                        </div>
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>
    <script src="/js/profileValidatorFront.js"></script>
</body>

</html>