<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head',{title: "Registrate"}) %>


<body class="detalle">
    <%- include('partials/header') %>

    <main class="home_main">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8 col-sm-11 mx-auto mt-5">
                <div class="card mb-3 shadow-lg">
                  <div class="card-header">
                    Registro de usuario
                  </div>
                  <small class="text-danger ms-2">
                    Los campos con un * son obligatorios
                  </small>
                  <div class="card-body">
                    <form action="" method="POST" class="row" enctype="multipart/form-data">
                        <br>
                        <div class="col-12 col-md-6 mb-3">
                            <label for="name" class="form-label">Nombre</label><small class="text-danger ms-2">
                                *
                            </small>
                            <input type="text" class="form-control" id="name" placeholder="Ingrese su nombre" name="name"
                            value="<%= locals.old && (old.name && old.name ) %>">
                            <small hidden id="register_form_name" class="text-danger ms-2">
                                *El nombre es obligatorio
                            </small>
                            <small class="text-danger ms-2">
                                <%= locals.errors && (errors.name && errors.name.msg) %>
                            </small>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label for="surname" class="form-label">Apellido</label><small class="text-danger ms-2">
                                *
                            </small>
                            <input type="text" class="form-control" id="surname" placeholder="Ingrese su apellido" name="surname"
                            value="<%= locals.old && (old.surname && old.surname ) %>">
                            <small hidden id="register_form_surname" class="text-danger ms-2">
                                *El apellido es obligatorio
                            </small>
                            <small class="text-danger ms-2">
                                <%= locals.errors && (errors.surname && errors.surname.msg) %>
                            </small>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label for="adress" class="form-label">Dirección</label>
                            <input type="text" class="form-control" id="adress" placeholder="Ingrese su domicilio" name="adress"
                            value="<%= locals.old && (old.adress && old.adress ) %>">
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label for="city" class="form-label">Ciudad</label>
                            <input type="text" class="form-control" id="city" placeholder="Ingrese su ciudad" name="city"
                            value="<%= locals.old && (old.city && old.city ) %>">
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label for="province" class="form-label">Provincia</label>
                            <input type="text" class="form-control" id="province" placeholder="Ingrese su provincia" name="province"
                            value="<%= locals.old && (old.province && old.province ) %>">
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label for="country" class="form-label">País</label>
                            <input type="text" class="form-control" id="country" placeholder="Ingrese su País" name="country"
                            value="<%= locals.old && (old.country && old.country ) %>">
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label for="email" class="form-label">Email</label><small class="text-danger ms-2">
                                *
                            </small>
                            <input type="email" class="form-control" id="email" placeholder="Tu email" name="email"
                            value="<%= locals.old && (old.email && old.email ) %>">
                            <small hidden id="register_form_email" class="text-danger ms-2">
                                *El email es obligatorio
                            </small>
                            <small class="text-danger ms-2">
                                <%= locals.errors && (errors.email && errors.email.msg) %>
                            </small>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label for="password" class="form-label">Contraseña</label><small class="text-danger ms-2">
                                *
                            </small>
                            <input type="password" class="form-control" id="password" placeholder="Tu contraseña" name="password">
                            <small hidden id="register_form_password" class="text-danger ms-2">
                                *La contraseña es obligatoria
                            </small>
                            <small class="text-danger ms-2">
                                <%= locals.errors && (errors.password && errors.password.msg) %>
                                <%= !locals.errors ?"":("Debes volver a escribir la contraseña") %>
                            </small>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label for="password2" class="form-label">Confirma contraseña</label><small class="text-danger ms-2">
                                *
                            </small>
                            <input type="password" class="form-control" id="password2" placeholder="Confirma tu contraseña" name="password2">
                            <small class="text-danger ms-2">
                                <small hidden id="register_form_password2" class="text-danger ms-2">
                                    * Debe confirmar su contraseña
                                </small>
                                <%= locals.errors && (errors.password2 && errors.password2.msg) %>
                                <%= !locals.errors ?"":("Debes volver a escribir la contraseña") %>
                            </small>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <small class="text-danger ms-2">
                                <%= locals.errors && (errors.image && errors.image.msg) %>
                            </small>
                            <label for="image" class="btn <%= ((locals.errors && errors.image) ? 'btn-danger' : 'btn-secondary')%>">Imagen principal</label>
                            <input type="file" name="image" id="image" hidden /><small class="text-danger ms-2">
                                *
                            </small>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-dark">Registrate</button>
                        </div>
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>
    <script src="/js/registerValidatorFront.js"></script>
</body>

</html>