<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

  <body class="index">
    <%- include('partials/header') %>

      <main class="index__main">


        <h1>Resultado de la busqueda</h1>
        <section class="index__main__section">
          <% productosFiltrados.forEach(product=> { %>
            <article class="index__main__section--ofert">
              <img src="/img/<%= product.image %>" alt="imagen del producto" />
              <div class="index__section__article--description">
                <p class="name">
                  <%= product.name %>
                </p>
                <p class="descripcion">
                  <%= product.description %>
                </p>
                <p class="precio">
                  $<%= product.price %>
                </p>
              </div>
            </article>
            <% }) %>
        </section>

      </main>
      <%- include('partials/footer') %>
  </body>

</html>