<!DOCTYPE html>
<html lang="es">
<%- include('partials/head', {title: `Resultados de tu búsqueda:${keywords}`}) %>

	<body>
		<%- include('partials/header') %>
			<main class="home_main">
				<%- include('partials/banner') %>
				<div class="container products-wrapper">
					<div class="row d-inline-flex p-2">
						<div class="menu_categoria_paginator">
                            <%- include('partials/filterCategory',{categories})%>
                        </div>
						<div class="col-12">
							<h2 class="products-title-search">Resultados de la búsqueda: "<%= keywords%>"
							</h2>
						</div>
						<% if(results.length){ %>
							<% results.forEach((product)=> { %>
								<div class="col-12 col-lg-3 col-md-6 col-sm-12">
									<%- include('partials/productCard', {product}) %>
								</div>
							<% }) %>
						<% }else{ %>
							<div class="col-12">
								<h2 class="products-title" style="color: red;">No hay productos que coincidan con esa búsqueda!</h2>
							</div>
						<% } %>
					</div>
				</div>
			</main>
			<%- include('partials/footer') %>
			<%- include('partials/scripts') %>
	</body>

</html>