<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Rol</th>
                <th scope="col">Fecha de Registro</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(({id, name, surname, role, createAt, image},index)=> { %>                                                     
                <tr>
                    <th scope="row">
                        <%= index + 1 %>
                    </th>
                    <td>
                        <%= name %>
                    </td>
                    <td>
                        <%= surname %>
                    </td>
                    <td>
                        <%= role %>
                    </td>
                    <td>
                        <%= createAt.split("T")[0] %>
                    </td>
                </tr>
            <% }) %>
        </tbody>
      
    </table>
</div>