<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Rol</th>
                <th scope="col">Fecha de Registro</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach((user,index)=> { %>                                                     
                <tr>
                    <th scope="row">
                        <%= index + 1 %>
                    </th>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.surname %>
                    </td>
                    <td>
                        <%= user.roleId.name%>
                    </td>
                    <td>
                        <%= moment(user.created_at).format('DD/MM/YYYY')%>
                    </td>
                </tr>
            <% }) %>
        </tbody>
      
    </table>
</div>